//- Size
@panelWidth: 480px;
@lineHeight: 20px;

//- Colors
@lightNeutral: #eee;
@mediumNeutral: #ccc;
@darkNeutral: #999;
@blackNeutral: #333;

//- Mixins
.user-select (@value)
{
  -khtml-user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  -o-user-select: @value;
  -webkit-user-select: @value;
  user-select: @value;
}

.box-sizing (@value: border-box)
{
  -moz-box-sizing: @value;
  -webkit-box-sizing: @value;
  box-sizing: @value;
}

//- Custom
.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.success { color: green; }
.error { color: red; }

//- Basic
html, body
{
  height: 100%;
}

body
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: @lineHeight;
}

body, input
{
  margin: 0;
}

input
{
  .box-sizing;
}

textarea
{
  width: 100%;
  resize: vertical;
  padding: 0;
}

a
{
  text-decoration: none;
}

img
{
  border: 0;
}

table
{
  color: @blackNeutral;
  width: 100%;
  border: 1px solid @darkNeutral;
  border-collapse: collapse;
  & > thead
  {
    background: @mediumNeutral;
  }
  & > tbody, & > tfoot
  {
    background: white;
  }
  & > tfoot
  {
    font-weight: bold;
  }
}

//- Main
.panel
{
  .box-sizing;
  color: @lightNeutral;
  background: @blackNeutral;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: @panelWidth;
  padding: 4 * @lineHeight @lineHeight;
  overflow: auto;
}

.logo, .footer
{
  .box-sizing;
  position: fixed;
  width: @panelWidth - 2 * @lineHeight;
  padding: @lineHeight 0;
  background: @blackNeutral;
}

.logo
{
  top: 0;
  .user-select(none);
  .logo-image, .logo-text
  {
    vertical-align: middle;
  }
  .logo-image
  {
    height: 25px;
    margin: 0 -5px;
  }
  .logo-text
  {
    color: @lightNeutral;
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 50px;
  }
}

.footer
{
  bottom: 0;
  font-size: smaller;
  p
  {
    color: @darkNeutral;
    margin: 5px 15px 0 0;
  }
  a
  {
    color: @mediumNeutral;
    &:hover
    {
      color: @lightNeutral;
    }
  }
}

.map
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: @panelWidth;
  right: 0;
}
